* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: calc(100vh - 100px);
}

.sidebar {
    border: 2px dashed red;
    background-color: #000000;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-container {
    border: 2px dashed blue;
    background-color: #141922;
    flex-grow: 1;
    overflow-y: auto;
}

ul li {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}


/* Sidebar */

.sidebar-widget {
    padding-bottom: 15px;
}

.sidebar-widget li {
    margin: 0 15px;
    margin
}

.sidebar-widget p {
    color: #6B6B6B;
    font-weight: bold;
}

.sidebar-widget h3 {
    font-size: 18px;
    color: white;
    padding-bottom: 5px;
}

.widget-item * :hover{
    color: rgb(200, 200, 200);
}

.logo {
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
}

.logo img {
    width: 150px;
}

.widget-list {
    padding: 10px 0;
}

.widget-item {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

#second-widget .playlist-names {
    padding-bottom: 10px;
}

#second-widget li:nth-child(2) {
    padding-bottom: 15px;
}

#second-widget {
    overflow-y: auto;
}

.icon {
    width: 30px;
}

.icon-text p {
    color: #717171;
    padding-left: 15px;
}

.icon-playlist i {
    color: #A3A3A3;
    font-size: 40px;
}

#third-widget {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    padding: 0;
}

#third-widget .widget-item:nth-child(2) {
    padding-top: 15px;
}

#third-widget .widget-list {
    flex-grow: 1;
}

#third-widget .widget-item:nth-child(1) {
    border-bottom: 2px solid white;
}

.install-app-button img {
    color: #717171;
    vertical-align: middle;
    width: 20px;
    margin-right: 10px;
}

.profile-picture {
    height: 26px;
    width: 26px;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 10px;
}

.profile-picture img {
    width: 26px;
}

.profile-name p {
    color: white;
}

/* Main Container */

.upgrade-bar {
    height: 90px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    background-color: #080B12;
    color: white;
}

.upgrade-button {
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 9999px;
}

.upgrade-button:hover {
    font-size: 24px;
}

.album-tags {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 25px;
    padding: 10px 0;
}

.album-tags::after {
    border-bottom: 1px solid greenyellow;
}

.album-tags p {
    color: #717171;
}

.album-container {
    display: flex; 
    padding: 30px;
    flex-direction: column;
}

.album-content {
    display: flex;
    gap: 0 10px;
}

.album-box-title h2 {
    color: white;
    padding-bottom: 15px;
}

.album-box-title p {
    color: #75777C;
    font-weight: bold;
    padding-bottom: 25px;
}

.album-image img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.album-card {
    width: 16%;
}

.album-image:hover .overlay {
    display: block;
}

.album-body {
    text-align: center;
}

.album-card h3 {
    color: white;
    font-weight: bold;
    padding: 10px 0;
}

.album-card p {
    color: #75777C;
}

.round {
    border-radius: 50%;
    overflow: hidden;
}

.album-image {
    position: relative;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: none;
}

.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    font-size: 3vw;
}


/* Footer */

.player-bar {
    border: 2px dashed violet;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    gap: 10px;
}

.debug {
    border: 2px dashed salmon;
}

.current-song {
    width: 250px;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.song-icon img {
    width: 60px;
}

.song-description {
    font-size: 13px;
    margin-left: 10px;
}

.song-description p:first-child {
    font-weight: bold;
    color: white;
}

.song-description p:last-child {
    color: #7D7D7D;
}

.song-description p:last-child:hover {
    text-decoration: underline #7D7D7D;
}

.favourite-button {
    flex-grow: 1;
    justify-content: space-between;
    text-align: right;
}

.favourite-button i {
    font-size: 16px;
    color: #878787;
}

.favourite-button i:hover {
    color: rgb(200, 200, 200);
}

.favourite-button i:first-child {
    padding-right: 10px;
}

.player-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 600px;
}

.player-buttons li {
    color: #FFFFFF;
    font-size: 20px;
}

.player-buttons li:nth-child(3) {
    display: flex;
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    margin: 0 10px;
}

.player-buttons li:nth-child(3):hover {
    font-size: 40px;
}

.player-buttons .buttons {
    display: flex;
    gap: 0 15px;
    align-items: center;
    justify-content: center;
}

.player-buttons .current-time {
    display: flex;
    align-items: center;
    gap: 0 25px;
    color: white;
}

.song-timeline .timeline {
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 9999px;
    width: 100%;
    flex-grow: 1;
}

.song-timeline .timeline:hover * {
    display: block;
}

.song-timeline .timeline-progress {
    position: relative;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 9999px;
    width: 30%;
}

.song-timeline .timeline-progress:hover {
    background-color: #9BC651;
}

.circle {
    position: absolute;
    top: 0;
    left: 95%;
    transform: translateY(-25%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.media {
    width: 100%;
    max-width: 200px;
    margin-left: 10px;
}

.media-buttons .buttons {
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding-right: 5px;
}

.media-buttons li a {
    font-size: 16px;
    color: white;
}

.audio-bar {
    height: 5px;
    width: 100%;
    flex-grow: 1;
    background-color: #5A5A5A;
    border-radius: 9999px;
}

.audio-bar:hover * {
    display: block;
}

.audio-progression:hover {
    background-color: #9BC651;
}

.audio-progression {
    height: 5px;
    width: 40%;
    position: relative;
    border-radius: 9999px;
    background-color: #C1C1C1;
}

