* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.sidebar {
    border: 2px dashed red;
    background-color: #000000;
    min-width: 250px;
}

.main-container {
    border: 2px dashed blue;
    background-color: #141922;
    flex-grow: 1;
}

ul li {
    list-style: none;
}

a {
    color: currentColor;
}


/* Footer */

.player-bar {
    border: 2px dashed violet;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.debug {
    border: 2px dashed salmon;
}

.current-song {
    width: 250px;
    display: flex;
    align-items: center;
}

.song-icon img {
    width: 60px;
}

.song-description {
    font-size: 13px;
    margin-left: 10px;
}

.song-description p:first-child {
    font-weight: bold;
    color: white;
}

.song-description p:last-child {
    color: #7D7D7D;
}

.favourite-button {
    flex-grow: 1;
    justify-content: space-between;
    text-align: right;
}

.favourite-button i {
    font-size: 16px;
    color: #878787;
}

.favourite-button i:first-child {
    padding-right: 10px;
}

.player-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.player-buttons li {
    color: #FFFFFF;
    font-size: 26px;
}

.player-buttons li:nth-child(3) {
    font-size: 35px;
    margin: 0 15px;
}

.player-buttons .buttons {
    display: flex;
    gap: 0 15px;
    align-items: center;
    justify-content: center;
}

.player-buttons .current-time {
    display: flex;
    align-items: center;
    gap: 0 25px;
    color: white;
}

.song-timeline {
    margin-top: 10px;
}

.song-timeline .timeline {
    height: 5px;
    background-color: #5A5A5A;
    border-radius: 9999px;
    width: 400px;
}

.song-timeline .timeline:hover *{
    display: block;
}

.song-timeline .timeline-progress {
    position: relative;
    height: 5px;
    background-color: #C1C1C1;
    border-radius: 9999px;
    width: 30%;
}

.song-timeline .timeline-progress:hover {
    background-color: #9BC651;
}

.song-timeline .timeline-circle {
    position: absolute;
    top: 0;
    left: 95%;
    transform: translateY(-25%);
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: none;
}

.media-buttons .buttons {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.media-buttons li a{
    font-size: 16px;
    color: white;
}

.audio-bar {
    height: 5px;
    width: 100px;
    background-color: #5A5A5A;
    border-radius: 9999px;
}

.audio-progression {
    height: 5px;
    width: 40%;
    border-radius: 9999px;
    background-color: #C1C1C1;
}